.texto-animado{
   border: solid;
   color: #ccc;

    animation-name: texto-volador;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}


@keyframes texto-volador{
    from{
        margin-left: 100%;
        width: 300px;
        background-color: aqua;
        border: solid red;
    }
    to{
        margin-left:-100%;
        background-color: brown;
        width: 200px;
        height: 200px;
    }

}


.resize{
    border: solid;
    animation-name: redimensionado;
    animation-duration: 10s;
    animation-iteration-count: 4;
}


/* @keyframes redimensionado{
    from{
        width: 500px;
    }
    to{
        width: 100px;
    }
} */

/* colores */
.box{
    width: 200px;
    height: 200px;
    border: solid;
    border-radius: 50%;
    background-color: red;
    animation-name: colores;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes colores{
    0%{
        background-color: brown;
    }
    25%{
        background-color: blue;
    }
    50%{
        background-color: aqua;
    }

    75%{
        background-color: yellow;
    }
    100%{
        background-color: violet;
    }
}

